body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}
.container {
    max-width: 15cm;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
}
.logoContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logo {
    background: #FF819C;
    max-width: 600px;
}
.logoTitle {
    color: black;
    text-align: justify;
    font-style: italic;
    font-size: 500%;
}
a:link {
    color: black;
    word-wrap: break-word;
    text-decoration: none;
}
a:visited {
    color: black;
    word-wrap: break-word;
}
a:hover {
    color: black;
    word-wrap: break-word;
}
a:active {
    color: black;   
    word-wrap: break-word;
}
.copy {
    font-size: 30%;
}