body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

.bodyContainer {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

.titleContainer {
    text-align: center;
    font-style: italic;
    font-size: 600%;
}